@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("./reset.css");

// ========================= BASE ========================= //

$font-stack: Raleway, sans-serif;
$background-color: #fff;
$primary-color: #000;
$secondary-color: #666;
$tertiary-color: #ddd;
$link-color: #aaa;
$hover-color: #ccc;
$invalid-color: #c60101;

%borders {
    border: solid 1px $secondary-color;
    border-radius: 0.1em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    width: 100%;
    background: $background-color;
    color: $primary-color;
    font: 100% $font-stack;
    line-height: 1.5em;
    word-spacing: 0.1em;
    letter-spacing: 0.07em;
}

#wrapper {
    width: 80%;
    max-width: 50em;
    text-align: center;
    margin: 2em auto;
}

a {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
    font-weight: 900;
}

h1 {
    margin: 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

h2 {
    margin: 0.5em 0 0 0;
    font-size: 1.2em;
    font-weight: 900;
}

.center {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

    button {
        @extend %borders;
        outline: none;
        margin: 0.5em 1em 2em 0;
        padding: 0.7em 2em;
        color: $secondary-color;
        background: $tertiary-color;
        font-size: 1.2em;
        font-weight: 100;
        letter-spacing: 0.1em;
        transition-duration: 0.25s;

        &:hover {
            background: $hover-color;
        }

        &:active {
            color: $background-color;
            background: $primary-color;
            transform: scale(1.1);
        }
    }

// ========================= FORM ========================= //

form {
    %formelements {
        @extend %borders;
        margin: 0.5em 0 2em 0;
        padding: 0.7em;
        color: $secondary-color;
        font-size: 1.2em;
        font-weight: 100;
        letter-spacing: 0.1em;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    %boxes {
        display: inline-block;
        position: relative;
        margin: 0.5em 1em 1.5em 0;
        width: 3em;
        height: 3em;
        background: $tertiary-color;
        font-size: 1.2em;
        border: solid 1px $link-color;
        cursor: pointer;
        transition-duration: 0.25s;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    input {
        @extend %formelements;

        &::placeholder {
            color: $tertiary-color;
        }

        &:invalid {
            border: 1px solid $invalid-color;
        }

        &[type=radio] {
            @extend %boxes;
            border-radius: 50%;
            box-shadow: inset 0 0 0 1.15em $tertiary-color;
            
            &:hover {
                border: solid 1px $primary-color;
            }

            &:hover, &:checked {
                background: $secondary-color;
            }

            &:active {
                transform: scale(1.2);
                box-shadow: inset 0 0 0 1.15em $link-color;
            }
        }   
    }

    .check {
        @extend %boxes;

        &:hover {
            border: solid 1px $primary-color;
        }

        &:active {
            transform: scale(1.2);
            background: $link-color;
        }

        input {
            visibility: hidden;

            &:checked + {
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 3em;
                    width: 3em;

                    &:after {
                        display: block;
                    }
                }
            }
        }

        .checkmark {
            &:after {
                content: "";
                display: none;
                position: absolute;
                top: 0.2em;
                left: 1.1em;
                width: 0.6em;
                height: 1.9em;
                border: solid gray;
                border-width: 0 5px 5px 0;
                border-radius: 0.2em;
                -webkit-transform: rotate(35deg);
                -ms-transform: rotate(35deg);
                transform: rotate(35deg);  
            }
        }        
    }

    .select {
        &:after {
            content: '▾';
            float: right;
            margin-top: -40px;
            margin-right: 10px;
            font-size: 3em;
            color: $secondary-color;

            .ie & {
                display: none;
            }
        }
    }

    select {
        @extend %borders;
        overflow: hidden;
        padding: 0.7em;
        color: $secondary-color;
        background: $background-color;
        background: transparent;
        background-image: none;
        font-size: 1.2em;
        font-weight: 100;
        letter-spacing: 0.1em;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    button, input[type=submit] {
        @extend %formelements;
        margin: 0.5em 1em 2em 0;
        padding: 0.7em 2em;
        background: $tertiary-color;
        transition-duration: 0.25s;

        &:hover {
            background: $hover-color;
        }

        &:active {
            color: $background-color;
            background: $primary-color;
            transform: scale(1.1);
        }
    }
}

// ========================= LAYOUT ========================= //

.btn-active {
    color: $background-color !important;
    background: $primary-color !important;
}

#input-error {
    visibility: hidden;
    margin: -1.9em 0 2.5em 0;
    text-align: right;
    color: $invalid-color;
}

#validated-input:invalid + #input-error {
  visibility: visible;
}

.category-item {
    border: solid 1px $secondary-color;
    margin: 1em auto;
}
.expenseform {
    margin: auto;
    padding: 0.5em;
    font-size: 80%;
}